<% include ../partials/header %>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			<p class="lead">Annonce</p>
			<div class="list-group">
				<li class="list-group-item active">Info 1</li>
				<li class="list-group-item">Info 2</li>
				<li class="list-group-item">Info 3</li>
			</div>
		</div>
		<div class="col-md-9">
			<!-- Annonce panel Ben-->
			<div class="card rounded shadow-sm mb-3">
				<img src="<%= annonce.image %>" class="card-img-top img-fluid" alt="...">
				<div class="card-body">
					<h5 class="card-title"><%= annonce.name %></h5>
					<h6 class="card-subtitle mb-2 text-right">500 000€</h6>
					<p class="card-text"><%= annonce.description %></p>
					<p class="card-text"><small class="text-muted">Submitted by <%= annonce.auteur.username %></small></p>
					<!-- Affichage des boutons edit et suppression si owner annonce-->
					<% if(currentUser && annonce.auteur.id.equals(currentUser._id)){ %>
						<a href="/annonces/<%= annonce._id%>/edit" class="btn btn-outline-warning">Modifier</a>
						<form class="d-inline" action="/annonces/<%= annonce._id%>?_method=DELETE" method="POST">
							<button type="submit" class="btn btn-outline-danger">Supprimer</button>
						</form>
					<% }%>
				</div>
			</div>
			
			<!-- Panel Commentaires-->
			<div class="card shadow">
				<div class="card-header">
						<span class="h4 mt-1">Commentaires</span>
						<a class="btn btn-success float-right mt-1" href="/annonces/<%= annonce._id %>/commentaires/new">Add New Comment</a>
				</div>
				<div class="card-body">
					<ul class="list-unstyled">
						<% annonce.commentaires.forEach(function(commentaire){ %>
							<li class="media">
								<div class="media-body border-bottom">
									<h5 class="mt-0 mb-1 border-gray"><%= commentaire.auteur.username %></h5>
									<p class="mb-0">
									 	<em><%= commentaire.texte %></em>
									</p>
									<% if(currentUser && commentaire.auteur.id.equals(currentUser._id)){ %>
										<a href="/annonces/<%= annonce._id %>/commentaires/<%= commentaire._id%>/edit" class="btn btn-outline-warning btn-sm mb-1">Modifier</a>
										<form class="d-inline" action="/annonces/<%= annonce._id%>/commentaires/<%= commentaire._id%>?_method=DELETE" method="POST">
											<button type="submit" class="btn btn-outline-danger btn-sm mb-1">Supprimer</button>
										</form>
									<% } %>
								</div>
							</li>
						<% }) %>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>